.App {
  text-align: center;
}

#input {
  width: 20rem;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0.1rem;
  margin-bottom: 1rem;
  text-align: center;
}

#label {
  margin-top: 2rem;
}
